@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
    --clr-neutral: hsl(214, 32%, 91%);
    --clr-primary: white;
    --clr-accent: hsl(214, 35%, 45%);
    --clr-secondary-font: hsl(214, 10%, 42%);
    --padding: 32px;

    height: 100%;
    width: 100%;
    font-family: Roboto, sans-serif;
}

body {
    height: inherit;
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 180px 1fr;
}

.sidebar {
    --sidebar-unit: 36px;
    --sidebar-font-size: 1.25rem;
    z-index: 2;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--sidebar-unit);
    background-color: var(--clr-accent);
    color: var(--clr-primary);
    padding: var(--padding);

    .logo {
        font-size: calc(1.5 * var(--sidebar-font-size));
    }
    .tabs {
        display: grid;
        align-items: center;
        font-size: var(--sidebar-font-size);
    }
    .main-tabs {
        grid-template-rows: repeat(6, var(--sidebar-unit));
    }
    .support-tabs {
        grid-template-rows: repeat(3, var(--sidebar-unit));
    }
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr;
    align-items: center;
    background-color: var(--clr-primary);
    z-index: 1;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.15);

    form {
        --height: 32px;
        margin-left: var(--padding);
        height: var(--height);
        display: flex;
        gap: 8px;
        input {
            min-width: calc(var(--height) * 2);
            max-width: 650px;
            width: 80%;
            background-color: var(--clr-neutral);
            border-radius: calc(var(--height) / 2);
            border-style: none;
            padding-left: calc(var(--height) / 2);
            padding-right: calc(var(--height) / 2);
        }
    }

    .user-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        margin-right: max(var(--padding), 10%);
        .profile {
            font-weight: 600;
            font-size: 1.25rem;
        }
        .notification {
            border-style: solid;
            justify-self: right;
            margin-right: var(--padding);
        }
    }

    .user-info, .main-buttons {
        justify-self: right;
    }

    .main-buttons {
        --height: 40px;
        height: var(--height);
        width: 320px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: calc(var(--padding) / 2);
        button {
            border-radius: calc(var(--height) / 2);
            border-style: none;
            background-color: var(--clr-accent);
            color: var(--clr-primary);
            font-weight: 600;
        }
        margin-right: max(var(--padding), 10%);
    }

    .greeting {
        max-height: 90px;
        margin-left: var(--padding);
        display: grid;
        grid-template-columns: 80px 1fr;
        grid-template-rows: 1fr 2fr 6fr;
        .picture {
            grid-row: 1 / -1;
            border-style: solid;
            margin: 4px;
        }
        .small {
            grid-row: 2;
        }
        .name {
            grid-row: 3;
            font-weight: 600;
            font-size: 1.7rem;
        }
    }
}

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: var(--padding);
    gap: var(--padding);
    background-color: var(--clr-neutral);
    &>* {
        display: grid;
        grid-template-rows: 40px 1fr;
    }
    .projects {
        grid-row: 1 / -1;
        .content {
            gap: var(--padding);
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
            grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));
            grid-auto-rows: min(180px, 1fr);
            .card {
                --icon-height: 30px;
                --card-padding: 16px;
                padding: var(--card-padding);
                padding-bottom: calc(var(--icon-height) + var(--card-padding));
                position: relative;
                .title {
                    font-weight: 600;
                    margin-bottom: 4px;
                }
                .icons {
                    width: 100px;
                    height: 30px;
                    border-style: solid;
                    position: absolute;
                    bottom: var(--card-padding);
                    right: var(--card-padding);
                }
            }
        }
    }
    .text {
        color: var(--clr-secondary-font);
    }
    .announcements .content,
    .trending .content,
    .projects .card  {
        background-color: var(--clr-primary);
        border-radius: 8px;
        box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.20);
    }
    .sec-header {
        font-size: 1.25rem;
        font-weight: 600;
    }
    .announcements .content,
    .trending .content {
        display: grid;
        grid-template-rows: repeat(auto-fill, 1fr);
        padding: var(--padding);
    }
}